:root{
    /* Colores */
    --rosa: #DDBEB9;
    --cafe: #DECCBE;
    --blanco: #F9F6ED;
    --small: 12px;
    --medium: 18px;
    --large: 24px;
}

main {
    position: relative;
    width: 100%;
    height: 65vh;
}

.main-container {
    width: 100%;
    height: 100%;
    display: grid;
    align-content: start;
    justify-content: center;
    text-align: center;
    font-size: var(--large);
}

.main-container a {
    margin-top: 60px;
}
.main-list {
    width: 100%;
    height: 100%;
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

.menu-list-5 {
    font-weight: 700;
}

.section-title-container {
    display: grid;
    place-content: center;
    width: 100%;
    height: 30px;
    background-color: black;
}

.section-title {
    font-size: var(--medium);
    color: var(--blanco);
}

footer {
    position: absolute;
    bottom: 0;
}