:root{
    /* Colores */
    --rosa: #DDBEB9;
    --cafe: #DECCBE;
    --blanco: #F9F6ED;
    --small: 12px;
    --medium: 18px;
    --large: 24px;
}

main {
    position: relative;
    width: 100%;
    height: auto;
}

footer {
    position: absolute;
}

.menu-list-2 {
    font-weight: 700;
}

.section-title-container {
    display: grid;
    place-content: center;
    width: 100%;
    height: 30px;
    background-color: black;
}

.section-title {
    font-size: var(--medium);
    color: var(--blanco);
}